<div class="container text-center">
  <img src="https://i.pinimg.com/564x/b3/50/46/b350466c630bcc839079b89fe923bfc9.jpg" class="img-fluid mt-3" style="max-width: 20%;" alt="Imagen del alfil de ajedrez">

  <h1>Alfil</h1>
  <p>El alfil es una pieza única en el ajedrez debido a su capacidad para moverse en diagonales a lo largo de cualquier número de casillas. Cada jugador comienza con dos alfiles, uno en casillas de colores claros y otro en casillas de colores oscuros.
    Esta disposición estratégica permite a los alfiles controlar una amplia porción del tablero y desempeñar un papel crucial en la táctica de juego.
  </p>

  <div class="container text-center mt-3">
    <h2>Jugabilidad</h2>
    <p>Los alfiles pueden avanzar a través de diagonales enteras, lo que los convierte en herramientas poderosas tanto para atacar como para defender posiciones clave. Su capacidad para maniobrar a través del tablero en diagonal los hace particularmente útiles en situaciones abiertas.
    </p>
    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiQ1SuR444QJhDAgU5VD9zGrw_2epZlaAZ4CQqEBeCNPj8NLX6GLknrI59EH5mhlJpacxix4QvhL86kYuXtXBcoe_uuwp0coB5m21zniOQxnMphojw8HTnzd1UPXZSuRQyqXF6Q/w1200-h630-p-k-no-nu/ajedrez-el-alfil.png" class="img-fluid mt-3" alt="Movimientos del alfil de ajedrez">
  </div>

  <%= link_to "Volver", root_path, class:"btn btn-dark mt-3"%>
</div>
