<div class="container text-center">
  <img src="https://i.pinimg.com/564x/8e/84/0a/8e840abcbaeef1bddba8d60ea442ec80.jpg" class="img-fluid mt-3" style="max-width: 20%;" alt="Imagen del caballo de ajedrez">

  <h1>Caballo</h1>
  <p>El caballo es una pieza única en el ajedrez por su movimiento en forma de "L". Puede saltar por encima de otras piezas, lo que le permite maniobrar rápidamente a través del tablero.
    Esta capacidad para saltar sobre piezas lo hace especialmente útil en el centro del tablero y en posiciones cerradas donde otras piezas tienen dificultades para moverse.
  </p>

  <div class="container text-center mt-3">
    <h2>Jugabilidad</h2>
    <p>Los caballos son piezas tácticas esenciales que pueden realizar ataques sorpresivos y defender posiciones críticas. Su habilidad para saltar hace que sean efectivos en ataques contra el rey o para bloquear el avance de los peones adversarios.
    </p>
    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhuIysQ32Aa3cllsEZV7dQleOCfhv-K3gz197H8p6rh1I3UDn3JSJKo9qsXiokKvlNVHpO6ET8IA6LZiu6MfYqwqLZA15BXkFVqnBB_1L49Z0o0vVMSWJXQe692MLjbmWkLJJoU/w1200-h630-p-k-no-nu/ajedrez-movimiento-caballo.png" class="img-fluid mt-3" alt="Movimientos del caballo de ajedrez">
  </div>

  <%= link_to "Volver", root_path, class:"btn btn-dark mt-3"%>
</div>
