<div class="container text-center">
  <img src="https://i.pinimg.com/564x/3d/ed/fc/3dedfc5f7bbff45f76341b0c05af21cd.jpg" class="img-fluid mt-3" style="max-width: 20%;" alt="Imagen del peón de ajedrez">

  <h1>Peón</h1>
  <p>El peón es la pieza más numerosa y también una de las más importantes en el ajedrez. Aunque tiene movimientos limitados, su papel en el juego es estratégico y puede transformarse en cualquier otra pieza si alcanza la última fila del tablero.
    Su movimiento principal es avanzar una casilla hacia adelante, pero en su primer movimiento puede avanzar dos casillas. Captura en diagonal y no puede moverse hacia atrás.
    Los peones son cruciales en la defensa y también pueden ser usados para bloquear el avance de las piezas adversarias.
  </p>

  <div class="container text-center mt-3">
    <h2>Jugabilidad</h2>
    <p>Los peones tienen la capacidad única de convertirse en cualquier otra pieza (excepto el rey) cuando llegan a la última fila del tablero. Esta promoción es una estrategia clave en el ajedrez, donde un peón puede convertirse en una reina, torre, alfil o caballo según convenga más al jugador.
    </p>
    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiXiVdtXs2brBSNpGDBSN_T-NYjBFM9Rp2IuR-Oc2hGygUMszVruF4xDU9HIQ5yhGb-b8r7GjPNAAzXN7V11ktJtnGryvPw7IVJEsAxe92Ub4WxLDMPCDxyj_EYqIh2pWQTYoTc/w1200-h630-p-k-no-nu/ajedrez-movimientos-peon.png" class="img-fluid mt-3" alt="Movimientos del peón de ajedrez">
  </div>

  <%= link_to "Volver", root_path, class:"btn btn-dark mt-3"%>
</div>
