<div class="container text-center">
  <img src="https://i.pinimg.com/564x/e4/1f/23/e41f23d2d47029227cfb70e2600347d1.jpg" class="img-fluid mt-3" style="max-width: 20%;" alt="Imagen de la reina de ajedrez">

  <h1>Reina</h1>
  <p>Por muchas personas la reina es una de las piezas más poderosas del ajedrez. Sus movimientos abarcan casi todo el tablero y es una pieza fundamental a la hora de ganar una partida.
    Aun así, tiene sus contras. La primera, según yo (jugador amateur, ganador de un torneo nivel ciudad cuando tenía 8 años), es que muchos jugadores de ajedrez abusan del poder de esta pieza para querer ganar la partida.
    Esto trae consigo una sobreconfianza en el uso de esta pieza. ¿Qué pasa si tu oponente saca del tablero esta pieza? La respuesta es simple: desesperación y descontrol. Por lo general, el jugador pierde la partida.
  </p>

  <div class="container text-center mt-3">
    <h2>Jugabilidad</h2>
    <p>La reina, al ser la pieza más versátil del juego, tiene 3 tipos de movimientos (el mayor número de movimientos dentro del tablero de ajedrez). Esta se puede mover tanto de manera horizontal, vertical y diagonal.
      Estos 3 movimientos pueden abarcar todo el tablero de ajedrez en su totalidad, el único límite que tiene esta pieza es el tablero en sí.
    </p>
    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh92WjPZv0t4zqW_Hp9ns3AXNe7WHY1JqM8y-EWv3ExoJvy4x668-ncVqwUQoIasETeYcXVNDvyeGtftTmZnDDau4sIgjQ2NHZ6UMtt2jDrxU6Ivovo19RApjpbkNSTn1dJ-ki-/w1200-h630-p-k-no-nu/ajedrez-movimientos-dama.png" class="img-fluid mt-3" alt="Movimientos de la reina de ajedrez">
  </div>

  <%= link_to "Volver", root_path, class:"btn btn-dark mt-3"%>
</div>

