<div class="container text-center">
  <img src="https://i.pinimg.com/564x/82/27/98/82279874483a24150020ecb89a448ab8.jpg" class="img-fluid mt-3" style="max-width: 20%;" alt="Imagen del rey de ajedrez">

  <h1>Rey</h1>
  <p>El rey es la pieza más importante del ajedrez, aunque no la más poderosa en términos de movimiento. Su objetivo principal es mantenerse seguro, ya que perder al rey significa perder la partida.
    A diferencia de la reina, el rey tiene movimientos limitados. Puede moverse una casilla en cualquier dirección: horizontal, vertical o diagonal.
    Los jugadores deben proteger al rey en todo momento, ya que cualquier descuido puede resultar en la derrota.
  </p>

  <div class="container text-center mt-3">
    <h2>Jugabilidad</h2>
    <p>El rey tiene movimientos restrictivos pero críticos. Solo puede moverse una casilla a la vez, lo que lo hace vulnerable a los ataques de piezas enemigas.
      Durante el juego, el rey también puede realizar un movimiento especial llamado "enroque" con una de sus torres, lo que proporciona un extra de defensa al rey.
    </p>
    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEid_KLEwqtyGowxWQBl0_DuBRkrKkL7RI91BY33JW43ZI0Z5e6w6CwMHFvc2w7UKFsR2JlLTperd8gH7zHZ31n5yjo1Pe2slBPoDLTnzep2O4SawYevCUyiRqfrWVtdoHN1r8Pg/w1200-h630-p-k-no-nu/ajedrez-movimientos-rey.png" class="img-fluid mt-3" alt="Movimientos del rey de ajedrez">
  </div>

  <%= link_to "Volver", root_path, class:"btn btn-dark mt-3"%>
</div>
