<div class="container text-center">
  <img src="https://i.pinimg.com/564x/d2/d2/b1/d2d2b1fed3642554a51b62103629b937.jpg" class="img-fluid mt-3" style="max-width: 20%;" alt="Imagen de la torre de ajedrez">

  <h1>Torre</h1>
  <p>La torre es una pieza poderosa en el ajedrez, capaz de controlar columnas y filas enteras. Su movimiento es rectilíneo, tanto horizontal como verticalmente, siempre que no haya piezas intermedias que lo impidan.
    La torre suele jugarse en la apertura para controlar líneas abiertas o semicerradas y es muy útil en el final del juego cuando puede promover peones o atacar al rey adversario.
  </p>

  <div class="container text-center mt-3">
    <h2>Jugabilidad</h2>
    <p>Las torres se coordinan bien entre sí y son eficaces en ataques conjuntos. En la mayoría de las partidas, el objetivo es posicionar las torres en las casillas de la séptima u octava fila del oponente para atacar el rey y amenazar con jaque mate.
    </p>
    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgaqgnEAekQKESwOB03_vtDTnlU2WH29maeV1kUNIYatqiaKku5ZB6GhTVpMnF59E9F7zmdFC1_WXl-cv2k4xaSRq4-pycD8vkbjWDYMmUAcCs8prMMGL2FH6WnAXN1-xqMyw7C/w1200-h630-p-k-no-nu/ajedrez-la-torre.png" class="img-fluid mt-3" alt="Movimientos de la torre de ajedrez">
  </div>

  <%= link_to "Volver", root_path, class:"btn btn-dark mt-3"%>
</div>
